<div class="container" id="signup">
    <h1>Бүртгүүлэх</h1>
    <form action="" method="POST">
        <div class="form-outline mb-4">
          <input type="number" name="phone" class="form-control" required/>
          <label class="form-label" >Phone</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" name="email" class="form-control" />
            <label class="form-label" >Email</label>
          </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" name="password" class="form-control" />
          <label class="form-label" >Password</label>
        </div>

         <!-- Repassword input -->
         <div class="form-outline mb-4">
            <input type="password" name="repassword" class="form-control" />
            <label class="form-label" >Repeat password</label>
          </div>
      
        <!-- Submit button -->
        <div class="text-center">
            <input type="submit" value="Бүртгүүлэх" class="btn btn-primary btn-block btn-lg mb-4" />
        </div>
        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a href="/auth/login#login">Нэвтрэх</a></p>
          <p>or sign up with:</p>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>
      
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>
      
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>
      
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
      </form>
</div>